* {
    transition: background 0.1s ease, transform 0.1s ease;
    transition-delay: 0s;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--site-color-accent);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--site-color-secondary);
        border-radius: 4px;
    }
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--site-color-secondary) var(--site-color-accent);
        scrollbar-width: thin;
    }
}

html, body {
    min-height: 100vh;
    font-family: 'Slabo Regular', sans-serif;
    font-size: 16px;
    color: var(--site-color-text);
    background-color: var(--site-color-background);
    overflow-x: hidden;
    @media (max-width: 960px) {
        font-size: 14px;
    }
    @media (max-width: 540px) {
        font-size: 12px;
    }
}

h1, .h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: normal;
}

h2, .h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: normal;
}

h3, .h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
}

p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &.subtitle {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: normal;
    }

    &.subtext {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    &.bold-text {
        font-weight: 700;
    }

    &.italic-text {
        font-style: italic;
    }
}

a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: underline;
    color: var(--site-color-text);
}

.hide-title {
    text-indent: -9999px;
    line-height: 0;
    margin: 0;
    padding: 0;
    clip-path: circle(1px);
}

.animate-link {
    position: relative;
    text-decoration: none;
    line-height: normal;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-radius: 1px;
        background-color: var(--site-color-text);
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0.2);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}