{% extends "base.twig" %}

{% block content %}

        <section class="404-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="page-title">Oups ! Cette page est introuvable.</h1>

                        <p>Il semble qu'aucun résultat n'ait été trouvé à cet endroit. Essayez peut-être l'un des liens ci-dessous ou effectuez une recherche.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
