{% extends "base.twig" %}

{% block content %}

    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if is_home and not is_front_page %}
                        <h1>{{ page_title }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="list-page">
        <div class="container">
            <div class="row g-3">
                {% if posts|length > 0 %}
                    {% for post in posts %}
                        {% include "components/card.twig" %}
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p>Aucun article pour le moment.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% if posts|length > constant('TEMPLATE_WP_LENGTH_LISTS') %}
        <section class="pagination-page mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        {{ bootstrap_pagination() }}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
