{% extends "base.twig" %}

{% block content %}

    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Résultats pour : <span>{{ query|raw }}</span></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="list-page">
        <div class="container">
            <div class="row g-3">
                {% if has_results %}
                    {% for post in results %}
                        {% include "components/card.twig" %}
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p>Aucun résultat trouvé.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% if has_results and results|length > constant('TEMPLATE_WP_LENGTH_LISTS') %}
        <section class="pagination-page mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        {{ bootstrap_pagination() }}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
