.header-site {
    .custom-logo-link {
        height: max-content;
        width: max-content;
        display: block;

        .custom-logo {
            height: 40px;
            width: 40px;
            aspect-ratio: 1/1;
        }
    }

    .name-header {
        margin: 0;

        a {
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
            color: var(--site-color-text);
        }
    }
}